.task p {
    white-space: pre-wrap;
}
body {
    background-color: #333 !important;
    color: #000 !important;
}
.btn-warning {
    background-color: #ffe87d !important;
    border-color: #ffe87d !important;
}
.bg-warning.card {
    background-color: #ffe87d !important;
}
.btn-info {
    background-color: #97dfff !important;
    border-color: #97dfff !important;
}
.bg-info.card {
    background-color: #97dfff !important;
}
.btn-danger {
    background-color: #ff8fd8 !important;
    border-color: #ff8fd8 !important;
}
.bg-danger.card {
    background-color: #ff8fd8 !important;
}
.btn-success {
    background-color: #86f9a0 !important;
    border-color: #86f9a0 !important;
}
.btn {
    color: #000 !important;
}
.btn.btn-dark {
    background-color: #222 !important;
    border-color: #222 !important;
    color: #EEE !important;
}
.bg-success.card {
    background-color: #86f9a0 !important;
}
.nav-link:active, .nav-link:focus  {
    outline:none !important;
    box-shadow: none !important;
}
.nav-link {
    color: #EEE !important;
}
.nav-link.active {
    background-color: #222 !important;
}
.nav-link.active.top-menu-active {
    background-color: #EEE !important;
    color: #333 !important;
    font-weight: bold !important;
}
#new-task {
    background-color: #222 !important;
    border-color: #222 !important;
}
.task-list {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.top-menu {
    background-color: #333;
}
.bottom-menu {
    background-color: #333;
}
#login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    color: #86f9a0;
    font-weight: bolder;
    flex-direction: column;
}
#kanbanjo-title {
    font-weight: bold;
    font-size: 3rem;
}
.bottom-menu-container {
    display:flex;
    justify-content: space-between;
}
.logout-button {
    color: #EEE !important;
    opacity: 0.2;
}
.status-active {
    background-color: #222 !important;
    border-color:#222 !important;
    color: #EEE !important;
}
input[type="text"] {
    font-weight: bold !important;
}